body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.square {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: xx-large;
    color: #ffffff;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background-color: #151515;
    z-index: 99;
}

body::before {
    content: "";
    display: block;
    height: 50px;
}

table {
    width: 300px;
    height: 400px;

    border: solid 1px #dcdcdca4;
    border-right: solid 4px #dcdcdca4;
    border-bottom: solid 4px #dcdcdca4;
    border-radius: 10px;

    text-align: center;

    padding: 8px;
    margin: 20px;
}

input {
    width: 70px;
    height: 70px;

    font-size: x-large;

    background-color: #dcdcdca4;

    border: none;
    border-radius: 20px;

    outline: none;
}

.display {
    width: 250px;
    text-align: right;

    background: #ffffff;
    border-top: solid #dcdcdca4 5px;
    border-bottom: solid #dcdcdca4 5px;
    border-right: solid #dcdcdca4 6px;
    border-left: solid #b6b6b6 6px;
    border-radius: 5px;
}

.operator {
    background-color: #87cefa;
}

.equal {
    background-color: #6b6b6b;
}

input:hover {
    background: #747373b9;
}

.display:hover {
    background: #ffffff;

}

.operator:hover {
    background: #5a5a5a;
}

.operator:active {
    background: #2c80b4;
}